.card-size {
    flex-basis: calc(60% - 20px);
    max-width: calc(60% - 20px);
    margin: 30px;
    }
    
    .card-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
    }
    .card-text {
      font-family:Arial, Helvetica, sans-serif;
      text-align: center;
    }
    
    .card.shadow-sm {
      box-shadow: 0 0 10px rgba(0, 0, 0, 5); /* Adjust the rgba color and other values as needed */
    }